/* HTML: <div class="loader"></div> */
.dots-container {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 20px;
    animation: l5 1s infinite linear alternate;
    cursor: pointer;
    outline: none;
  }
   @keyframes l5 {
      0%  {box-shadow: 20px 0 #3e4aeb, -20px 0 #ffbfb5; background: #3e4aeb }
      33% {box-shadow: 20px 0 #3e4aeb, -20px 0 #ffbfb5; background: #ffbfb5}
      66% {box-shadow: 20px 0 #ffbfb5,-20px 0 #3e4aeb; background: #ffbfb5}
      100%{box-shadow: 20px 0 #ffbfb5,-20px 0 #3e4aeb; background: #3e4aeb }
  } 

  /* @keyframes l5 {
    0%  {box-shadow: 20px 0 #38bdf8, -20px 0 #a855f7; background: #38bdf8 }
    33% {box-shadow: 20px 0 #38bdf8, -20px 0 #a855f7; background: #a855f7}
    66% {box-shadow: 20px 0 #a855f7,-20px 0 #38bdf8; background: #a855f7}
    100%{box-shadow: 20px 0 #a855f7,-20px 0 #38bdf8; background: #38bdf8 }
} */