.Layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.ImgHolder {
  position: absolute;
  /* top: -50px;
  left: -80px; */
  z-index: 10;
}

.About {
  margin-top: 100px; /* Adjust spacing to align About content */
}
