.container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  margin-left: 3.5rem;
}

.blogs-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding: 4rem;
  margin-top: 2rem;
}

.blogs{
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.article-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}