.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 10px;
}

.blogs-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-left: 3.5rem;
  padding: 4rem;
}

.blogs{
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  scrollbar-width: none;
}