.body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    display: inline;
    justify-content:center;
    align-items:center;
    background-color:transparent;
    /* height: 100vh; */
    font-family: sans-serif;
  }
  
  .project-image{
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 20px;
  }
  
  .card{
    width: 320px;
    border: 2px solid rgba(235, 235, 235, .35);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: 12px;
    color: white;
    background: rgba(187, 205, 189, .25);
    transition: all .25s ease;
  }
  
  .container{
    padding: 1em;
  }
  
  .card:hover{
    background: rgba(187, 205, 189, .55)
  }